* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: rgb(41, 40, 40);
    margin: 0px 20% 0px;
}

.hero {
    position: relative;
    flex: 1;
    background-image: url('../img/trees-and-sky\ .jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    text-align: center;
}

 /* .hero figure {
    position: relative;
    /* z-index: 2;
}  */

.Norse {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.123);
}

.icon {
    flex: auto;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    /* margin: 20px; */
}


.content{
    padding-left:0;
    padding-right: 0%;
    background-color: #e0e0e0;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__text {
    margin-bottom: 20px;
    font-size: 1.25rem;
    padding: 20px 20px;
    
}

.content__form {
    background-color: #ffffff;
    /* box-shadow: 5 px rgb(2, 2, 2); */
    padding: 25px 25px;
    box-shadow:0 4px 6px rgb(14, 14, 14,0.1),0 4px 0 rgba(0, 0, 0, 0.1);

}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-areas: 
    "header header"
    "first  last"
    "email  phone"
    "pass1   pass2"; */  
}

.login__p {
    margin-bottom: 15px;
}

.login__lable {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.login__input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}



.login__btn {
    width: 40%;
    padding: 10px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin: 25px;
}

.switch {
    margin: 25px;
    font-size: 0.9rem;
}

.login__btn:hover {
    background-color: #0056b3;
}



.switch a {
    color: #596D48;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}



